:root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, fantasy;
  background-size: cover;
  background-color: var(--black);
  background-image: url("assets/background.jpg");
  --black: #111;
  --white: snow;
  --pink: deeppink;
  --orange: darkorange;
}
/* Header Style */
header {
  position: absolute;
  color: var(--white);
  top: 2rem;
}

a {
  font-style: italic;
  color: var(--pink);
  transition: .2s linear;
}
a:hover {
  color: var(--orange);
}

@media only screen and (max-height: 428px) {
  header {
    visibility: hidden;
  }
}
/* Drum Pad Style */
#drum-machine {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background: deepskyblue;
  border-right: 6px solid var(--orange);
  border-left: 6px solid var(--pink);
}

#drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.drum-pad {
  width: 2rem;
  height: 2rem;
  font-family: "Cantarell", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 1rem;
  color: var(--white);
  background: var(--black);
  border: 2px solid var(--pink);
  box-shadow: 0 0 3px 1px var(--pink);
}
.drum-pad:hover {
  border-color: var(--orange);
  box-shadow: 0 0 3px 1px var(--orange);
}
.drum-pad:active {
  color: var(--black);
  background: var(--orange);
}

.icon {
  width: 18px;
  height: 18px;
}
/* Display Style */
#display {
  text-align: center;
  border-radius: 6px;
  padding: 6px 8px;
  width: 7rem;
  color: var(--white);
  background: var(--black);
}
/* Volume Style */
#volume {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 3px;
}

.volume-bar {
  width: 6rem;
  height: 6px;
  border-radius: 6px;
  background: var(--black);
}
.volume-bar::-webkit-slider-thumb,
.volume-bar::-moz-range-thumb {
  width: 8px;
  height: 14px;
  background: var(--black);
  border: 2px solid var(--pink);
}
.volume-bar:hover::-webkit-slider-thumb,
.volume-bar:hover::-moz-range-thumb {
  border-color: var(--orange);
}
/* Switch Style */
#switch {
  display: flex;
  align-items: center;
  margin-top: 24px;
  width: 8rem;
  height: 6px;
  gap: 3px;
}

#toggle {
  position: absolute;
  visibility: hidden;
}

#slider {
  width: 4rem;
  height: 24px;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  background: var(--black);
}
#slider::after {
  content: "";
  top: 4px;
  left: 4px;
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 1rem;
  background: var(--pink);
  transition: left .2s, transform .2s;
}
#slider:hover::after {
  background: var(--orange);
}
#toggle:checked + #slider::after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

#switch > p {
  font-size: 24px;
  cursor: default;
}